<!DOCTYPE html>
<html>
  <head>
    <title>I18nTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <pre><%= MyModel.model_name.human(count: 2) %></pre>
    <%= yield %>
  </body>
</html>
